@keyframes run {
  from { background-position-x: 0px; }
  to { background-position-x: -256px; }
}

.ggsalas-stand {
  transform: scale(0.75);
  height: 64px;
  background: url('./ggsalas-sprit.png'); 
  margin: auto;
  width: 64px; 
}

.ggsalas-left {
  transform: scale(0.75);
  height: 64px;
  background: url('./ggsalas-sprit.png'); 
  margin: auto;
  width: 64px; 
  animation: run 500ms steps(4) infinite;
  background-position-y: 188px; 
}

.ggsalas-right {
  transform: scale(0.75);
  height: 64px;
  background: url('./ggsalas-sprit.png'); 
  margin: auto;
  width: 64px; 
  animation: run 500ms steps(4) infinite;
  background-position-y: 128px; 
}

.ggsalas-down {
  transform: scale(0.75);
  height: 64px;
  background: url('./ggsalas-sprit.png'); 
  margin: auto;
  width: 64px; 
  animation: run 500ms steps(4) infinite;
}

.ggsalas-top {
  transform: scale(0.75);
  height: 64px;
  background: url('./ggsalas-sprit.png'); 
  margin: auto;
  width: 64px; 
  animation: run 500ms steps(4) infinite;
  background-position-y: 64px; 
}


/**
here waiting for a better place
*/
.fightScreen{
  height: 600px;
  width: 800px;
  background: url('./fight.jpg'); 
  position: absolute;
  top: 8px;
  background-size: 800px 600px;
}