@keyframes annim {
  0% { background-position-x: 0px; }
  50% { background-position-x: 10px; }
  100% { background-position-x: 0px; }
}


.menu{
  height: 600px;
  width: 800px;
  background: url('./bgmenu.png'); 
  position: absolute;
  top: 8px;
  background-size: 800px 600px;
}

.avatar{
  background: url('../characters/ggsalas-dresseur.png');
}

.itemMenuPointer{
  background: url('./cursor.png');
  background-repeat: no-repeat;
  background-size: 40px;
  margin-top: 7px;
  margin-left: -50px;
  animation: annim 700ms linear infinite;
}

.subMenuPointer{
  background: url('./cursor.png');
  background-repeat: no-repeat;
  background-size: 55px;
  background-position-y: bottom;
  animation: annim 700ms linear infinite;
}

@font-face {
  font-family: "ggSalasTitle";
  src: url("../upheavtt.ttf") format("truetype"),
  url("../upheavtt.woff") format('woff')
 }

 @font-face {
  font-family: "ggSalasFont";
  src: url("../Retro\ Gaming.ttf") format("truetype"),
  url("../Retro-Gaming.woff") format('woff')
 }


